<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=3.0">

    <link rel="icon" href="<%= require('../assets/star.png') %>" type="image/png">

    <!-- Primary Meta Tags -->
    <meta name="title" content="Meta Tags — Preview, Edit and Generate">
    <meta name="description" content="https://rxsearch.vercel.app/">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://rxsearch.vercel.app/">
    <meta property="og:title" content="Github search using api">
    <meta property="og:description" content="Github search using api">
    <meta property="og:image" content="<%= require('../assets/branch.png') %>">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://rxsearch.vercel.app/">
    <meta property="twitter:title" content="Github search using api">
    <meta property="twitter:description" content="Github search using api">
    <meta property="twitter:image" content="<%= require('../assets/branch.png') %>">

    <title>Github search using api</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
  </head>

  <body onselectstart="return false;">
    <main class="container main">
      <div class="wrapper">
        <h1 class="title">
          GSearch
        </h1>
        <div class="button-gr">
          <button type="button" class="btn btn-light" id="reset">reset</button>
          <div class="select-gr">
            <p class="select-title">First:</p>
            <select class="form-select" id="select">
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
            </select>
          </div>
        </div>

        <input type="text" class="form-control mt-3" placeholder="Enter repo's name" id="input">

        <div class="repo-list" id="list">
        </div>
      </div>
    </main>
  </body>

</html>
